@media (max-width: 1440px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .header-text a {
    margin: 0 16px;
  }
  .header-text select {
    margin: 0 16px;
  }
  .hero img {
    width: 550px;
  }
  .hero-text h1 {
    width: 460px;
    font-size: 42px;
  }
  .hero-text h1 span {
    /* width: 500px; */
    font-size: 42px;
  }
  .hero-text p {
    width: 440px;
    font-size: 16px;
  }
  .products-card p {
    width: 279px;
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  #header {
    padding: 10px 0;
  }
  .header-text {
    display: none;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }
  #hero {
    padding: 30px 0;
  }
  .hero-text {
    padding-bottom: 20px;
  }
  .info {
    flex-direction: column;
    text-align: center;
  }
  #info {
    padding: 0 0 63px 0;
  }
  .info-title {
    padding-top: 20px;
  }
  #products {
    padding: 10px 0;
  }
  .products-card img {
    width: 80px;
  }
  .products-card h1 {
    font-size: 24px;
    margin: 7px 0;
  }
  .products-card p {
    width: 260px;
    font-size: 15px;
  }
  .custom-btn {
    width: 105px;
    height: 34px;
    padding: 7px 2px;
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .products-card p {
    width: 243px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .info-title h1 {
    width: 510px;
  }
  .products {
    flex-direction: column;
    /* text-align: center; */
  }
  .products-card {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-text h1 {
    width: 395px;
    font-size: 36px;
  }
  .hero-text h1 span {
    font-size: 36px;
  }
  .hero img {
    width: 500px;
  }
  .info-title h1 {
    width: 454px;
    font-size: 26px;
  }
  .info-title h1 span {
    font-size: 26px;
  }
  .info-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .info-title p {
    width: 435px;
    font-size: 15px;
  }
  .products-text {
    font-size: 28px;
  }
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-right {
    padding-top: 20px;
  }
  #footer h1 {
    font-size: 15px;
  }
  .contact-left img {
    width: 100px;
  }
  .contact-left h4 {
    font-size: 16px;
    margin: 0 0 4px 0;
  }
  .contact-left p {
    font-size: 14px;
  }
  .contact-right h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .contact-right p {
    font-size: 14px;
  }
}

@media (max-width: 451px) {
  .hero-text h1 {
    width: 310px;
    font-size: 28px;
  }
  .hero-text h1 span {
    font-size: 28px;
  }
  .hero-text p {
    width: 402px;
    margin: 10px 0;
    font-size: 14px;
  }
  .hero img {
    width: 400px;
  }
  .info img {
    width: 380px;
  }
  .info-title p {
    width: 387px;
    font-size: 13px;
  }
  .info-title p span {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .hero img {
    width: 360px;
  }
  .info img {
    width: 350px;
  }
  .info-title h1 {
    width: 300px;
    font-size: 22px;
  }
  .info-title h1 span {
    font-size: 22px;
  }
  .info-title p {
    width: 322px;
    font-size: 11px;
  }
  .products-text {
    font-size: 22px;
  }
  #footer h1 {
    font-size: 13px;
  }
}

@media (max-width: 376px) {
  .hero-text p {
    width: 371px;
    font-size: 13px;
  }
  .hero-text h1 {
    width: 250px;
    font-size: 23px;
  }
  .hero-text h1 span {
    font-size: 23px;
  }
  .custom-btn {
    width: 90px;
    height: 27px;
    font-size: 10px;
  }
  .hero img {
    width: 350px;
  }
  .info img {
    width: 330px;
  }
  .info-title p {
    margin: 6px 0 0 0;
  }
  #info {
    padding: 0 0 37px 0;
  }
}

@media (max-width: 320px) {
  .header img {
    width: 110px;
  }
  .header-icons span {
    font-size: 16px;
    margin: 0 4px;
  }
  .hero-text p {
    width: 284px;
    font-size: 11px;
  }
  .custom-btn {
    width: 82px;
    height: 27px;
    font-size: 9px;
  }
  .hero img {
    width: 300px;
  }
  .info img {
    width: 270px;
  }
  #hero {
    padding: 10px 0;
  }
  .info-title h1 {
    width: 300px;
    font-size: 19px;
  }
  .info-title h1 span {
    font-size: 19px;
  }
  .info-title p {
    width: 301px;
    font-size: 11px;
  }
  .products {
    padding: 10px 0 0 0;
  }
  .products-card h1 {
    font-size: 20px;
    margin: 4px 0;
  }
  .products-card p {
    width: 211px;
    font-size: 12px;
  }
  .contact-left img {
    width: 90px;
  }
  .contact-left h4 {
    font-size: 14px;
    margin: 0 0 4px 0;
  }
  .contact-left p {
    font-size: 12px;
  }
  .contact-right p {
    font-size: 12px;
  }
  .contact-right h1 {
    font-size: 17px;
  }
  #footer h1 {
    font-size: 10px;
  }
}
